*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    width: 70%;
    margin: auto;
}
header{
    width:100%;
    height: 8em;
    text-align: center;
    margin-bottom: 5px;
}


h1 {
    font-family: "Ubuntu";
    font-weight: bold;
    border-bottom: 1px solid #82CC29;
    color: #82CC29;
    line-height: 187% !important;
}


p {
    margin-bottom: 1em;
}

aside{
    display: inline-block;
    width: 15%;
    vertical-align: top;
}
aside ul {
    width: 30%;
    display: inline-block;
    list-style: none ;
}

ul li {
    width: 3em;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 1em;
    background:#82CC29;
    display: block;
    padding: 0.8em;
    border-radius: 50%;
    margin: 0,5 0;

}


ul li a:visited {
    color: white;
}


main {
    display: inline-block;
    width: 70%;
    margin: auto;
    vertical-align: top;
    text-align: center;
}
section i {
    float: left;
}

ul li a i {
    color: white;
}

h2 {
    border-bottom: 1px solid lightgrey;
    display: block;
    cursor: pointer;
    min-height: 3em;
    line-height: 3em;
    padding: 0 1em;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    color: rgb(91, 91, 91);
    font-weight: normal;
}

section article {
    display: inline-block;
    width: 45%;
    margin: 1em 1em;
    width: inherit;

}

main section {
    border: solid 0.25px lightgrey;
    margin: 20px 0;
    box-shadow: 1px 2px 8px 0px;
    margin-left: 5em;
}

button {
    background-color: #82CC29;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    text-align: center;
    text-transform: uppercase;
}
